@inherits LayoutComponentBase
@using Blazored.LocalStorage;
@using BlazorApp.Client.Authentication
@inject HttpClient Http
@inject IJSRuntime Json
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@using System.Threading.Tasks

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex flex-row px-4 align-items-center" style="gap: 0.5rem;">
            <a href="register" class="btn btn-primary">Register</a>
            <AuthorizeView>
                <Authorized>
            <button class="btn btn-primary" @onclick="HandleLogout" >Logout</button>
                </Authorized>
                <NotAuthorized>
            <a href="login" class="btn btn-primary">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    async Task HandleLogout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}